{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "body-leading-blank": [
      2,
      "always"
    ],
    "body-max-line-length": [
      2,
      "always",
      "Infinity"
    ],
    "footer-leading-blank": [
      2,
      "always"
    ],
    "footer-max-line-length": [
      2,
      "always",
      "Infinity"
    ],
    "type-enum": [
      2,
      "always",
      [
				"build",
				"chore",
				"ci",
				"docs",
				"feat",
				"fix",
				"perf",
				"refactor",
				"revert",
				"style",
				"test"
      ]
    ]
  }
}
