{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dark-emerald-theme.vsix",
            "label": "Dark Emerald Theme ${nextRelease.gitTag}",
            "name": "dark-emerald-theme-${nextRelease.gitTag}.vsix"
          }
        ]
      }
    ]
  ]
}
